body,html{
    height: 100%;
}

#content{
    position: relative;
    height: 100%;
    background-color: #ffffff;
    overflow: hidden;
}

.raindrop{
    position: absolute;
    width: 6px;
    height: 8px;
    background-color: #99a9bf;
    clip-path: ellipse(10% 30% at 50% 50%);
    transform: scale(8);
    opacity: 0;
    animation:move 1.2s cubic-bezier(0.54,0,0.18,0.34) infinite;
}

@keyframes move {
    0%{
        opacity: 0;
    }
    40%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform:translate3d(10px,100vh,-10px);
    }
}