/*** 
 * @Date        : 2020-07-10 20:13:34
 * @LastEditors : anlzou
 * @Github      : https://github.com/anlzou
 * @LastEditTime: 2020-10-02 21:35:10
 * @FilePath    : \webpack-course24292\webpack4.x讲义和代码\代码\13\src\css\base.css
 * @Describe    : 
 */
/*base.css*/
@import "font.css";
:root {
    --green : green;
}
body {
    background-color: burlywood;
}
#ts {
    width: 609px;
    height: 609px;
    background-image: url("../img/ts.png");
    display: flex;
    transform: rotateX(130deg);
    color : var(--green);
}
#loading {
    width: 780px;
    height: 422px;
    background-image: url("../img/loading.gif");
}