<!--
 * @Date        : 2020-08-10 22:59:55
 * @LastEditors : anlzou
 * @Github      : https://github.com/anlzou
 * @LastEditTime: 2020-08-10 23:45:43
 * @FilePath    : \web-test\vue-test\vueDemo\vue_12_component.html
 * @Describe    : 
-->
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>Document</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="">
    <script src="./vue.js"></script>
</head>

<body>
    <!-- 
        全局组件
     -->
    <div id="app-1">
        <my_h1></my_h1>
    </div>
    <br>

    <!-- 
        局部组件
     -->
    <div id="app-2">
        <my_h2></my_h2>
    </div>
    <br>

    <!-- 
        Prop
        prop 是子组件用来接受父组件传递过来的数据的一个自定义属性。
        父组件的数据需要通过 props 把数据传给子组件，子组件需要显式地用 props 选项声明 "prop"
     -->
    <div id="app-3">
        <div>
            <child message="hello anlzou!" v-bind:message="parentMsg"></child>
            <br>
            <input type="text" name="" id="" v-model="parentMsg">
        </div>
    </div>
    <br>

    <!-- 
        使用 v-bind 指令将 todo 传到每一个重复的组件中
     -->
    <div id="app-4">
        <ol>
            <todo-item v-for="item in sites" v-bind:todo="item"></todo-item>
        </ol>
    </div>

    <script>
        // 1.局部组件
        // 注册
        Vue.component('my_h1', {
            template: '<h1 style="color:red">anlzou</h1>'
        });

        // 创建根实例
        new Vue({
            el: '#app-1'
        });

        // 2.局部组件
        var child = {
            template: '<h2>绝地反击</h2>'
        };

        // 创建根实例
        new Vue({
            el: '#app-2',
            components: {
                'my_h2': child
            }
        });

        // 3.Prop 属性
        // 注册
        Vue.component('child', {
            // 声明 props
            props: ['message'],
            // 同样也可以在 vm 实例中像 "this.message" 这样使用
            template: '<span style="fontSize:30px">{{message}}</span>'
        });

        // 创建根实例
        new Vue({
            el: '#app-3',
            data: {
                parentMsg: '输入极度疯狂'
            }
        });

        // 4.
        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li style="fontSize:30px">{{todo.text}}</li>'
        })

        new Vue({
            el: '#app-4',
            data: {
                sites: [
                    { text: 'Baidu' },
                    { text: 'Google' },
                    { text: 'Taobao' }
                ]
            }
        })
    </script>
</body>

</html>

<!-- 
    组件（Component）是 Vue.js 最强大的功能之一。
    组件可以扩展 HTML 元素，封装可重用的代码。

    注册一个全局组件语法格式如下：
    Vue.component(tagName, options)
    
    tagName 为组件名，options 为配置选项。注册后，我们可以使用以下方式来调用组件：
    <tagName></tagName>
 -->